@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "rounded-mplus-1c";
    src: url("/rounded-mplus-1c-bold.woff");
}

@font-face {
    font-family: "Slight";
    src: url("/Slight.woff");
}

@font-face {
    font-family: "BestTen-DOT";
    src: url("/BestTen-DOT.otf");
}

@font-face {
    font-family: "nicokaku";
    src: url("/nicokaku_v2-5.ttf");
}

body,
html {
    color: rgb(var(--foreground-rgb));
    background: #ffffff;
    @apply text-size-p text-font1;
    font-family: "Noto Sans JP", serif;
    scroll-behavior: smooth;
}

p,
div {
    @apply text-size-p;
}

::selection {
    @apply bg-color1/70 text-font1;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.bg-image {
    background-image: url("/background1.png");
    background-size: contain;
    background-position: center;
    background-repeat: repeat-y;
}

.bg-image2 {
    background-color: #29adff;
    background-image: url("/background2.png");
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}

.bg-image3 {
    background-image: url("/background3.png");
    background-size: contain;
    background-position: top;
    background-repeat: repeat;
}

.bg-image4 {
    background-image: url("/background4.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-image5 {
    background-image: url("/contact-background2.png");
    background-size: cover;
    background-position: center;
    background-repeat: repeat-x;
}

.bg-image6 {
    background-image: url("/background5.png");
    background-size: cover;
    background-position: center;
    background-repeat: repeat-x;
}


@keyframes pulse {
    0% {
        transform: scaleX(1)
    }

    50% {
        transform: scale3d(1.05, 1.05, 1.05)
    }

    to {
        transform: scaleX(1)
    }
}

.animate-pulse-scale {
    animation-name: pulse;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}



@keyframes pulse-x {
    0% {
        transform: translateX(0px)
    }

    50% {
        transform: translateX(-3px)
    }

    to {
        transform: translateX(0px)
    }
}

.animate-pulse-x {
    animation-name: pulse-x;
    animation-timing-function: ease-in-out;
    animation-duration: 1.1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}



@keyframes pulse-y {
    0% {
        translate: 0px 0px;
    }

    50% {
        translate:0px -3px;
    }

    to {
        translate: 0px 0px;
    }
}

.animate-pulse-y {
    animation-name: pulse-y;
    animation-timing-function: ease-in-out;
    animation-duration: 1.1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}