@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "rounded-mplus-1c";
    src: url("/rounded-mplus-1c-bold.woff");
}

@font-face {
    font-family: "Slight";
    src: url("/Slight.woff");
}

@font-face {
    font-family: "BestTen-DOT";
    src: url("/BestTen-DOT.otf");
}

@font-face {
    font-family: "nicokaku";
    src: url("/nicokaku_v2-5.ttf");
}

body,
html {
    color: rgb(var(--foreground-rgb));
    background: #ffffff;
    @apply text-size-p text-font1;
    font-family: "Noto Sans JP", serif;
    scroll-behavior: smooth;
}

p,
div {
    @apply text-size-p;
}

::selection {
    @apply bg-color1/70 text-font1;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.bg-image {
    background-image: url("/background1.png");
    background-size: contain;
    background-position: center;
    background-repeat: repeat-y;
}

.bg-image2 {
    background-color: #29adff;
    background-image: url("/background2.png");
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}

.bg-image3 {
    background-image: url("/background3.png");
    background-size: contain;
    background-position: top;
    background-repeat: repeat;
}

.bg-image4 {
    background-image: url("/background4.png");
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat ;
}

.bg-image5 {
    background-image: url("/contact-background2.png");
    background-size: cover;
    background-position: center;
    background-repeat:repeat-x ;
}


.bg-image6 {
    background-image: url("/background5.png");
    background-size: cover;
    background-position: center;
    background-repeat:repeat-x ;
}

.bg-button1 {
    background-image: url("/button1.png");
    background-size: contain;
    background-position: center;
    background-repeat:no-repeat;
}

.bg-button2 {
    background-image: url("/button2.png");
    background-size: auto;
    background-position: center;
    background-repeat:no-repeat;
}

.link {
    font-size: 0.8rem;
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.active {
    @apply pl-3;
    &::before {
        content: "";
        position: absolute;
        bottom: 2px;
        left: 0;
        width: 16px;
        height: 1px;
        background-color: black;
        transform: rotate(-65deg);
        transform-origin: left bottom;
    }
}

.typing-effect {
  width: 290px;
  animation: typing 3s steps(29), effect .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}
 
@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes effect {
  50% {
    border-color: transparent
  }
}
