
.tooltip {
    position: relative;
    text-align: center;
    color: white;

    &:before {
        margin-right: 0.1rem;
        content: "＼";
    }

    &:after {
        margin-left: 0.1rem;
        content: "／";
    }
}
